@font-face {
    font-family: 'terezi_pyrope';
    src: url(https://peculiarmirage.github.io/fonts/terezi_pyrope/terezi_pyrope.woff);
}

h1 {
    font-size: 40pt;
}
  
h2 {
    font-size: 30pt;
}
  
p {
    font-size: 24pt;
}

nav {
    font-weight: bold;
    font-size: 16;
    text-align: center;
    height: 24px;
    padding: 0px;
    text-transform: uppercase;
    background-color: #11c900;
    color: #ffffff;
}

nav .divimg {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 6px;
	padding: 0 !important;
	background-image: url("/assets/nav_icon.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.topnav {
    padding: 14px 16px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
}

.topnav a:link {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
}

.topnav a:visited {
    color: #c9ffa9;
    text-decoration: none;
}

body {
  background-color: rgb(0, 126, 52);
  color: white;
  font-family: 'terezi_pyrope';
}

