@font-face {
    font-family: 'terezi_pyrope';
    src: url(https://peculiarmirage.github.io/fonts/terezi_pyrope/terezi_pyrope.woff);
}

h1 {
    font-size: 40pt;
}
  
h2 {
    font-size: 30pt;
}
  
p {
    font-size: 24pt;
}

.topnav {
    background-color: #11c900;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
  background-color: rgb(0, 126, 52);
  color: white;
  font-family: 'terezi_pyrope';
}

